################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VstsBasicApp/VstsBasicApp/bin
/VstsBasicApp/VstsBasicApp/obj/Debug
/VstsBasicApp/packages
/VstsBasicApp/.vs
/VstsBasicApp/VstsBasicApp.Tests/bin/Debug
/VstsBasicApp/VstsBasicApp.Tests/obj/Debug
