@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cardinal VSTS Project</h1>
    <p class="lead">Get yourself up to speed on some VSTS</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>